.header{
      display: inline-block;
      margin: 10px;
      border: 1px , solid #eee;
      box-shadow: 0 2px 2px #ccc;
      width:  200px;
      padding: 20px;
      background-color: #4c4548fa;
      color: #eee;
}

.header:hover{
  background-color: #ddd;
  color: black;
}
